//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
// $blue:  #005A66;
//$pink:    #e83e8c !default;
// $light_blue:  #008993;
//$yellow:  #ffc107 !default;
// $dark_blue:   #003B49;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;
// $light_yellow:  #f5c932;
//$yellow:  #ffc107 !default;
//$yellow:  #fcc013;
// $dark_yellow:   #d97510;


$pink: #ff83b5;
$dark_pink:    #cf377e;
$light_pink: #ff83b5;


$primary:       $light_pink;
$secondary:     $pink;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;
