
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";


body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}


hr {
  max-width: 50px;
  border: 3px $dark_green;

  &.light {
    border-color: $white;
  }
}

a {
  color: $dark_green;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6, #application-form {
  font-family: 'Montserrat', sans-serif;
}

.bg-primary {
  background-color: $black !important;
}

.bg-secondary {
  background-color: $black;
}

.bg-dark {
  background-color: $dark_green;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-video {
  color: $gray-600;
}

section {
  padding: 8rem 0;

  .section-heading {
    margin-top: 0;
  }
}


::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img {
  &::selection {
    color: $white;
    background: transparent;
  }

  &::-moz-selection {
    color: $white;
    background: transparent;
  }

}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: $white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;

  @include media-breakpoint-up(lg) {
    border-color: transparent;
    background-color: $black;
  }

  .navbar-nav {
    & > li.nav-item > a.nav-link {
      font-size: .9rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $gray-900;

      @include media-breakpoint-up(lg) {
        color: rgba(255, 255, 255, 0.7);
        padding: 0.5rem 1rem;
      }

      &:hover, &:focus {
        color: #fff;

        @include media-breakpoint-up(lg) {
          color: #fff;
        }
      }
    }
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background: url("../images/fons2023.webp") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 1150px;
    padding-top: 0;
    padding-bottom: 0;
  }

  h1 {
    font-size: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 4rem;
    }
  }

  p {
    font-weight: 300;

    @include media-breakpoint-up(md) {
      font-size: 1.15rem;
    }
  }
}

.section-min {
  padding-top: 25px;
  padding-bottom: 20px;
}

iframe {
  border: solid 6px #003B49;
}

#seko img {
  height: 70px;
}
#sponsors img {
  height: 100px;
}

.text-highlight {
  color: $dark_blue;
}

.btn-apply {
  @include button-variant($light_yellow, rgba(207, 55, 126, 0.5));
  padding: 2rem 3rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.login-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  .card {
    width: 100%;
    max-width: 380px;
    margin: auto;
  }
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: #000 !important;
}

.btn-primary {
  background-color: $light_yellow;
  color: #fff;
}

.btn-primary:hover {
  background-color: #ac185d;
}

.btn-primary:active {
  background-color: #ac185d;
}

.form-control:focus {
  // border-color: #fbe9ac;
  // outline: 0;
  box-shadow: 0 0 0 0.2rem #ac185d;
}

#seko .container .row div a:hover {
  color: #ac185d;
  text-decoration: none;
}

span.text-primary b a {
  color: #76aa32;
}

.inputbox{
  height: 340px;
}